@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');
 

 *,
 *::before,
 *::after {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
 }

 :root {
  /* * -------------------------- PAGE COLORS ------------------------ */   

    --clr-accent-main: #4D96A9;
    --clr-accent-secondary: #855FB1;
    --clr-accent-main-hover: #8FE3F9;
    --clr-accent-secondary-hover: #D9B8FF;
    --clr-neutral-700: #28283D;
    --clr-neutral-600: #87879D;
    --clr-neutral-400: #FAFAFA;

 /* * -------------------------- MOBILE Font SIZES ------------------------ */
    
    --fs-700: 2.5rem;       /* 40px */
    --fs-600: 2rem;         /* 32px */
    --fs-500: 1rem;         /* 16px */
    --fs-400: 1rem;         /* 16px */ 

    --lh-700: 2.75rem;      /* 44px */
    --lh-600: 2.25rem;      /* 36px */
    --lh-500: 1.625rem;     /* 26px */
    --lh-400: 1.625rem;     /* 26px */
}


/* * -------------------------- TABLET Font SIZES ------------------------ */

@media screen and (min-width: 37.5em) {
    :root {
        --fs-700: 3rem;         /* 48px */
        --fs-600: 2.5rem;       /* 40px */

        --lh-700: 3rem;         /* 48px */
        --lh-600: 2.75rem;      /* 44px */
    }   
}

/* * -------------------------- LAPTOP Font SIZES ------------------------ */

@media screen and (min-width: 75em) {
    :root {
        --fs-700: 4rem;         /* 64px */
        --fs-400: 1.125rem;     /* 18px */

        --lh-700: 4rem;         /* 64px */
        --lh-400: 1.625rem;     /* 26px */
    }
}

body {
    background-color: var(--clr-neutral-400);
}

h1 {
    font-weight: 900;
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    color: var(--clr-neutral-700);
    text-align: center;
}

h2 {
    font-weight: 900;
    font-size: var(--fs-600);
    line-height: var(--lh-600);
    color: var(--clr-neutral-700);
}

h3 {
    font-weight: 900;
    font-size: var(--fs-500);
    line-height: var(--lh-500);
    color: var(--clr-accent-main);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

p {
    font-weight: 400;
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    color: var(--clr-neutral-600);
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 900;
    text-align: center;
}

img {
    height:auto;
    width: 100%;
}

/* * -------------------------------- BUTTON STYLES ------------------------------ */

.button {
    border-radius: 29px;
    justify-self: center;
    padding-block: 1rem;
    margin-block: 0 1rem;
    cursor: pointer;
}

.green {
    background-color: var(--clr-accent-main);
    padding-inline: 2.5rem;
}

.purple {
    background-color: var(--clr-accent-secondary);
    padding-inline: 1.8125rem;
}
/* * -------------------------------- <> ------------------------------ */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3.375rem;
}

.logo {
    width: 7.5rem
}

/* * -------------------------------- SEC 01 ------------------------------ */

.sec-01 {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.left {
    justify-self: end;
    width: 110%;
    padding-right: .5rem;
}

.right {
    justify-self: start;
    width: 110%;
    padding-left: .5rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    width: calc(100% - 3rem);
    margin-inline: auto;
}

.main-info > h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.main-info > p {
    margin-bottom: 2rem;
}


.line {
    border-left: 1px solid #87879D40;
    height: 5.25rem;
    margin-top: 4rem;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--clr-neutral-600);
    background-color: var(--clr-neutral-400);
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid #87879D40;
    border-radius: 29px;
    z-index: 2;
}

/* * -------------------------------- SEC 02 ------------------------------ */

.sec-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    width: calc(100% - 3rem);
    margin-inline: auto;
}

.sec-02 > * {
    text-align: center;
}

.pic-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-inline: auto;
}

.img-sec02 {
    width: calc(50% - 1rem);
    border-radius: 8px;
}

.sec-02 > h3 {
    margin-block: 4rem 1.5rem;
}

.sec-02 > h2 {
    margin-bottom: 2rem;
}

.sec-02 > p {
    margin-inline: .5rem;
}

.sec-02 >   .line,
            .marker {
                transform: translateY(1.75rem);
            }

/* * -------------------------------- FOOTER ------------------------------ */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4D96A995;
    position: relative;
    /* transform: translateY(-1.75rem); */
}

footer::after {
    content: "";
    background-image: url(../assets/mobile/image-footer.jpg);
    background-blend-mode: normal;
    background-size: cover;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

footer > * {
    text-align: center;
    color: var(--clr-neutral-400);
}

footer > h2 {
    margin-top: 5.75rem;
}

footer > p {
    margin-top: 1.5rem;    
}

footer > .button {
    margin-block: 2rem 4.5rem;
    padding-inline: 2.5rem;
}