@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');
 

 *,
 *::before,
 *::after {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
 }

 :root {
  /* * -------------------------- PAGE COLORS ------------------------ */   

    --clr-accent-main: #4D96A9;
    --clr-accent-secondary: #855FB1;
    --clr-accent-main-hover: #8FE3F9;
    --clr-accent-secondary-hover: #D9B8FF;
    --clr-neutral-700: #28283D;
    --clr-neutral-600: #87879D;
    --clr-neutral-400: #FAFAFA;

 /* * -------------------------- MOBILE Font SIZES ------------------------ */
    
    --fs-700: 2.5rem;       /* 40px */
    --fs-600: 2rem;         /* 32px */
    --fs-500: 1rem;         /* 16px */
    --fs-400: 1rem;         /* 16px */ 

    --lh-700: 2.75rem;      /* 44px */
    --lh-600: 2.25rem;      /* 36px */
    --lh-500: 1.625rem;     /* 26px */
    --lh-400: 1.625rem;     /* 26px */
}


/* * -------------------------- TABLET Font SIZES ------------------------ */

@media screen and (min-width: 37.5em) {
    :root {
        --fs-700: 3rem;         /* 48px */
        --fs-600: 2.5rem;       /* 40px */

        --lh-700: 3rem;         /* 48px */
        --lh-600: 2.75rem;      /* 44px */
    }   
}

/* * -------------------------- LAPTOP Font SIZES ------------------------ */

@media screen and (min-width: 75em) {
    :root {
        --fs-700: 4rem;         /* 64px */
        --fs-400: 1.125rem;     /* 18px */

        --lh-700: 4rem;         /* 64px */
        --lh-400: 1.625rem;     /* 26px */
    }
}

body {
    background-color: var(--clr-neutral-400);
}

h1 {
    font-weight: 900;
    font-size: var(--fs-700);
    line-height: var(--lh-700);
    color: var(--clr-neutral-700);
    text-align: center;
}

h2 {
    font-weight: 900;
    font-size: var(--fs-600);
    line-height: var(--fs-600);
    color: var(--clr-neutral-700);
}

h3 {
    font-weight: 900;
    font-size: var(--fs-500);
    line-height: var(--lh-500);
    color: var(--clr-accent-main);
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: var(--fs-400);
    line-height: var(--lh-400);
    color: var(--clr-neutral-600);
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 900;
    text-align: center;
}

img {
    height:auto;
    width: 100%;
}

/* * -------------------------------- BUTTON STYLES ------------------------------ */

.button {
    border-radius: 29px;
    justify-self: center;
    padding-block: 1rem;
}

.green {
    background-color: var(--clr-accent-main);
    max-width: 12.0625rem;
    padding-inline: 2.5rem;
}

.purple {
    background-color: var(--clr-accent-secondary);
    max-width: 8.6875rem;
    padding-inline: 1.8125rem;
}
/* * -------------------------------- <> ------------------------------ */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3.375rem;
}

.logo {
    width: 7.5rem
}

.sec-01 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    justify-self: end;
    width: 110%;
    padding-right: .5rem;
}

.right {
    justify-self: start;
    width: 110%;
    padding-left: .5rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin-left: 1rem;
    margin-right: 1rem;
}

.line {
    border-left: 1px solid #87879D40;
    height: 5.25rem;
    margin-top: 5rem;
}

.marker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: var(--clr-neutral-600);
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid #87879D40;
    border-radius: 29px;
}